USE [master]
GO
/****** Object:  Database [Covid19]    Script Date: 10/11/2023 1:35:09 PM ******/
CREATE DATABASE [Covid19]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Covid19', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\Covid19.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Covid19_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\Covid19_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Covid19].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Covid19]
GO
/****** Object:  Table [dbo].[BenhNhan]    Script Date: 10/11/2023 1:35:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BenhNhan](
	[MaBN] [nvarchar](6) NOT NULL,
	[TenBN] [nvarchar](150) NOT NULL,
	[MaTT] [int] NOT NULL,
	[GhiChu] [nvarchar](max) NULL,
	[BNTXG] [nvarchar](6) NULL,
 CONSTRAINT [PK_BenhNhan] PRIMARY KEY CLUSTERED 
(
	[MaBN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TinhTrang]    Script Date: 10/11/2023 1:35:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TinhTrang](
	[MaTT] [int] NOT NULL,
	[TenTT] [nvarchar](150) NOT NULL,
 CONSTRAINT [PK_TrangThai] PRIMARY KEY CLUSTERED 
(
	[MaTT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[BenhNhan] ([MaBN], [TenBN], [MaTT], [GhiChu], [BNTXG]) VALUES (N'BN1342', N'Nguyễn Văn A', 2, N'Sau khi trở về từ khu cách ly tập trung để cách ly tại nhà, bệnhnhân 1342 - nam tiếp viên Vietnam Airlines đã không tuân thủ quy định, dẫn đến việc lâynhiễm cho người khác và khiến cho nhiều người phải cách ly, nhiều cơ sở kinh doanh vàtrường học phải tạm đóng cửa.', NULL)
INSERT [dbo].[BenhNhan] ([MaBN], [TenBN], [MaTT], [GhiChu], [BNTXG]) VALUES (N'BN1347', N'Nguyễn Văn B', 2, N'-Nhập cảnh trên chuyến bay VN5301 từ Nhật – Cần Thơ – Sài Gòn-Cách ly tại khu cách ly của hãng hàng không Vietnam Airlines. Thành viên tổ bay đượclấy mẫu xét nghiệm SARS-COV-2 lần 1 ngày 15/11/2020, lần 2 ngày 18/11/2020 và có kếtquả xét nghiệm âm tính.', N'BN1342')
INSERT [dbo].[BenhNhan] ([MaBN], [TenBN], [MaTT], [GhiChu], [BNTXG]) VALUES (N'BN1515', N'Nguyễn Văn C', 2, N'-Từ Qatar nhập cảnh Sân bay Tân Sơn Nhất trên chuyến bay QR970ngày 9/1/2021
- Cách ly ngay sau khi nhập cảnh tại TP. Hồ Chí Minh', NULL)
INSERT [dbo].[TinhTrang] ([MaTT], [TenTT]) VALUES (1, N'Âm Tính')
INSERT [dbo].[TinhTrang] ([MaTT], [TenTT]) VALUES (2, N'Dương Tính')
INSERT [dbo].[TinhTrang] ([MaTT], [TenTT]) VALUES (3, N'Tái Nhiễm')
ALTER TABLE [dbo].[BenhNhan]  WITH CHECK ADD  CONSTRAINT [FK_BenhNhan_TinhTrang] FOREIGN KEY([MaTT])
REFERENCES [dbo].[TinhTrang] ([MaTT])
GO
ALTER TABLE [dbo].[BenhNhan] CHECK CONSTRAINT [FK_BenhNhan_TinhTrang]
GO
USE [master]
GO
